.DivInfo{
    display: flex;
    border: 1px solid gray;
    width: 1200px;
    height: 500px;

  }
  .DivInfo2 div{
    font-size: 20px;
   }
   .DivInfo2Div{
    padding-top: 35px;}

    span{padding-right: 50px;}

    .formtypefilm{
      margin-top: 10px;
      }
      