h2{
    text-align: center;
}
.divfilm{
    display: flex;
    width: 400px;
  height: 230px;
  border: 1px solid gray;
  margin-bottom: 10px;
  }

img{
margin: 10px;
}

.DetailsBut{
margin-top: 10px;
}
#Div11{
  display: grid;
  grid-template-columns: 30% 30% 30%;
}